body { font-size: xx-small; margin-top: 5px; margin-left: 80px; margin-right: 80px; color: white;background-color: midnightblue;}

.list-group-item {
padding-top : 1px;
padding-bottom : 1px;
}

.rightborder {border-right-width: 1px;}

pre {
    color: white;
    border-width: 0px;
    background-color: midnightblue;
    font-size: 6pt;
	padding: 0px;
}

.singlePre {
  font-size: 6pt;
}

.editableText {
  color:black;/*border:1px solid #999999;*/
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: xx-small;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.songList {font-size: xx-small; }


.songFrame {border-width: .5px; border-radius: 5px; border-color: white; padding: 1px;}

@media print {
pre {
    font-size: xx-small;
    border-width: 0px;
    background-color: white;
    color: black;
}

.songFrame { margin-left: 50px;}

.singlePre {
  font-size: 9pt;
}

.hidePrint { display: none;}
}
