<!DOCTYPE html>
<html data-ng-app="songApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    <script data-require="bootstrap@3.3.2" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link data-require="bootstrap@3.3.2" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>
    <script data-require="jquery@2.1.3" data-semver="2.1.3" src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <link data-require="bootstrap@3.3.2" data-semver="3.3.2" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <script data-require="bootstrap@3.3.2" data-semver="3.3.2" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
  -->
    <link rel="stylesheet" href="stylesheets/Site.css" />

    <link rel="icon" type="image/png" href="/sixteenth-note.png">
    <script src="js/songs.js" type="text/javascript"></script>
	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js" type="text/javascript"></script>
    <script src="~/Scripts/angular-route.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	-->
<style media="print">
</style>
<style>
</style>

<title>songs</title>

</head>
<body class="container" ng-controller="SongListCtrl">
    <div class="row">
		<!--a target="_window" href="http://www.google.com">google</a-->
		<div class="col-sm-2 col-lg-2 list-group small">
      <!--input type="text" ng-model="selectedSong" typeahead="song.Title for song in songs | filter:$viewValue | limitTo:8" class="form-control"-->
      <input style="color:blue;" ng-model="titleFilter"></input><span class="glyphicon glyphicon-search"></span>
				<a ng-repeat="song in songs" class="list-group-item" ng-click="showSong(song.File)"
				ng-class="{active:currentSong==song.File}">{{song.Title}} </a>
		</div>

		<div class="col-sm-10 col-lg-10 songFrame">
			<div class="row">
				<div class="col-sm-12">
					<pre>{{header}}</pre>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<pre>{{block0}}</pre>
				</div>
				<div class="col-sm-6">
					<pre>{{block1}}</pre>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
