

  <div class="input-group input-group-sm">
    
    <span class="input-group-text"><fa-icon [icon]="icons.faSearch"></fa-icon></span>
    
    <!-- <input (click)="$event.target.select()" type="text" class="form-control"  -->
    <input (click)="selectText($event.target)" type="text" class="form-control"
      [ngModel]="song" [ngbTypeahead]="search"
      [resultFormatter]="formatter" 
      [inputFormatter]="formatter" 
      (selectItem)="selectItem($event)"
      placeholder="Search" />
  </div>

