<div class="print-container">
  
  <div class="row">
    
    <div class="col  bg-white">
      <pre>{{printSong?.header?.join('\n')}}</pre>

    </div>

    <div class="col-auto">
      <div class="hidePrint">
          
        <button class="btn btn-sm btn-secondary mr-2" (click)=back()>Cancel Preview</button>
            <i class="fa fa-fw fa-search-plus mr-2" (click)="zoom.in()"></i>
            <i class="fa fa-fw fa-search-minus mr-5" (click)="zoom.out()"></i>
         
            <i class="fa fa-fw mr-5" [ngClass]="[singleColumn ? 'fa-text-width' : 'fa-text-height']" (click)="singleColumn=!!!singleColumn"></i>

            <i class="fa fa-fw fa-print" (click)=print()></i>
            
            
       </div>
    </div>
  </div>
  <hr class="mt-0 mb-1 bg-white"/>

  <ng-container *ngFor="let b of printSong?.blocks; let i = index">

    <div class="row" *ngIf="!singleColumn && (i % 2 == 0)" style="page-break-after: always">

      <div class="col" style="overflow: visible">
     
        <div style="height:auto; width: auto; display: block; overflow:visible;">
          <pre  [ngClass]="zoom.fontClass" >{{b.lines.join('\n')}}</pre>
        </div>
      </div>

      <div class="col" *ngIf="printSong.blocks.length > 1" style="overflow:visible">
    
        <pre [ngClass]="zoom.fontClass" *ngIf="printSong.blocks[i + 1]">{{printSong.blocks[i+1].lines.join('\n')}} </pre>
      </div>

    </div>
   
    <div class="row" *ngIf="singleColumn" style="page-break-after: always">

        <div class="col" style="overflow: visible">
       
          <div style="height:auto; width: auto; display: block; overflow:visible;"><pre>{{b.lines.join('\n')}}</pre></div>
        </div>
  
        
  
      </div>

  </ng-container>
</div>
