<div class="ez-read" style="width: calc(100vw - 320px)" #detailDiv>
  <div class="row">
    <div class="col">
      <pre>{{song?.header?.join('\n')}}</pre>

    </div>

    <div class="col-auto">

        <i class="fa fa-fw fa-search-plus mr-2" (click)="zoom.in()"></i>
        <i class="fa fa-fw fa-search-minus mr-5" (click)="zoom.out()"></i>
    

      <i class="fa fa-fw mr-2" [ngClass]="[singleColumn ? 'fa-text-width' : 'fa-text-height']" (click)="singleColumn=!!!singleColumn"></i>

      <i class="fa fa-fw fa-print ml-2" (click)=print()></i>
    </div>
  </div>
  <hr class="mt-0 mb-1 bg-white"/>

  <ng-container *ngFor="let b of song?.blocks; let i = index">

    <div class="row" *ngIf="!singleColumn && (i % 2 == 0)">

      <div class="col">
        <pre [ngClass]="zoom.fontClass">{{b.text}}</pre>
      </div>

      <div class="col" *ngIf="song.blocks.length > 1">
          <pre [ngClass]="zoom.fontClass" *ngIf="song.blocks[i + 1]">{{song.blocks[i+1].text}}</pre>
      </div>

    </div>

    <div class="row" *ngIf="singleColumn">

      <div class="col">
        <pre [ngClass]="zoom.fontClass">{{b.text}}</pre>
      </div>
    </div>

    <hr style="background-color: white" *ngIf="song?.blocks.length > 2 && (i % 2 == 0)  && !singleColumn">
  </ng-container>
</div>
