<div class="">
  <div class="row">
    <div class="col">
      <pre>{{printSong?.header?.join('\n')}}</pre>

    </div>

    <div class="col-auto">
      <div class="hidePrint">
            <i class="fa fa-fw fa-print pull-right" (click)=print()></i>
            <i class="fa fa-fw fa-arrow-left pull-right" (click)=back()></i>
          </div>
        </div>
  </div>
  <hr class="mt-0 mb-1 bg-white"/>

  <ng-container *ngFor="let b of printSong?.blocks; let i = index">

    <div class="row" *ngIf="i % 2 == 0" style="page-break-after: always">

      <div class="col" style="overflow: visible">
        <ng-container *ngIf="showBlocks">{{i}}</ng-container> 
        <div style="height:auto; width: auto; display: block; overflow:visible;"><pre>{{b.lines.join('\n')}}</pre></div>
      </div>

      <div class="col" *ngIf="printSong.blocks.length > 1" style="overflow:visible">
          <span  *ngIf="showBlocks">{{i+1}}</span>
        <pre *ngIf="printSong.blocks[i + 1]">{{printSong.blocks[i+1].lines.join('\n')}} </pre>
      </div>

    </div>
   
  </ng-container>
</div>
