/* You can add global styles to this file, and also import other style files */
@import 'variables';

/*  variables that override bootstrap go here*/
$primary: #2885c5;

//$font-size-base: 0.75rem; //12px
//$font-size-base: 0.875rem; //14px

$font-family-base: "Helvetica Neue", "Roboto", Helvetica, Arial, sans-serif;

@import '../node_modules/font-awesome/scss/font-awesome';

//@import "../../node_modules/surescripts-glue/src/scss/_custom.scss"; //custom variables overrides before processing bootstrap components.

@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import "../../node_modules/surescripts-glue/src/scss/_glue-overrides.scss";


a:not([href]):not([tabindex]) {
    color: $link-color;
    text-decoration: $link-decoration;
}

.ez-read {

    color: white;
    background-color: midnightblue;
}


pre {

    color: white;
    border-width: 0px;
    background-color: midnightblue;
    font-size: 12pt;
	padding: 0px;
}

@media print {
    
    pre {
        border-width: 0px;
        background-color: white;
        color: black;
    }

    .hidePrint { display: none;}
}

.font-60 { font-size: 60%;}
.font-80 { font-size: 80%;}
.font-100 { font-size: 100%;}
.font-120 { font-size: 120%;}
.font-140 { font-size: 140%;}
.font-160 { font-size: 160%;}
.font-180 { font-size: 180%;}
.font-200 { font-size: 200%; }