<div class="mt-2">
  <label>Right Place</label>
  <div class="row" *ngIf="correct">
    <div class="col-auto" *ngFor="let i of [0,1,2,3,4]">
      <div class="form-group">

        <input maxlength="1" class="form-control form-control-sm" style="width: 64px; background-color: lightgreen;"
          [ngModel]="correct[i]" (ngModelChange)="correct[i]=$event.toUpperCase()" [placeholder]="[i+1]">
      </div>
    </div>
  </div>

  <label class="mt-2">Wrong Place</label>
  <div class="row">
    <div class="col-auto" *ngFor="let i of [0,1,2,3,4]">

      <div class="form-group">

        <input class="form-control form-control-sm" style="width: 64px; background-color: lightyellow;"
          [ngModel]="status.wrongPlace[i]" (ngModelChange)="status.wrongPlace[i]=$event.toUpperCase()" [placeholder]="[i+1]">
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="row mt-2">
    <div class="col-auto">
      <div class="form-group" style="width: 200px">
        <label>Does not Have</label>
        <input class="form-control form-control-sm" [ngModel]="status.hasNot" (ngModelChange)="status.hasNot=$event.toUpperCase()">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>&nbsp;</label>
        <div>
          <button class="btn btn-primary btn-sm me-2" (click)="go()">Get Hints</button>
          <button class="btn btn-secondary btn-sm me-2" (click)="reset()">Reset</button>
          <button class="btn btn-secondary btn-sm me-2"[routerLink]="['songs']">Songs</button>
        </div>

      </div>


    </div>
  </div>

  <div class="rowx mt-2">
    <!-- <button class="btn btn-outline-primary btn-sm" (click)="go()" class="me-5">Go</button> -->


  </div>

  <div *ngFor="let w of potential">
    {{w}}
  </div>

</div>